<script setup lang="ts">
interface Props {
  activationCodeData: IActivationCodeRequest;
}

const props = defineProps<Props>();
const isResendButtonActive = ref(false);

function onTimeout() {
  isResendButtonActive.value = true;
}

async function submitActivationCode(activationCode: number) {
  const { isActivated } = await AccountsService.activateProfile({
    credentials: props.activationCodeData.credentials,
    activation_code: activationCode,
  });

  if (isActivated) await navigateTo("/profile");
}

async function resendActivationCode() {
  await AccountsService.sendActivationCode(props.activationCodeData);
}
</script>

<template>
  <UCard class="accounts-card">
    <div class="header">
      <h1 class="title">Nuxtagram</h1>
      <p class="description">
        We have sent you a 6-digit activation code. Please check your email to
        retrieve it. If you haven't received anything, you can resend the code
        after the time expires.
      </p>
    </div>
    <CustomCodeInputs
      :digits="6"
      class="mb-5"
      @on-complete="submitActivationCode"
    />
    <CustomTextTimer class="mb-5" :timeout="60" @on-timeout="onTimeout" />
    <div v-show="isResendButtonActive" class="buttons-container">
      <UButton block color="white" @click="resendActivationCode"
        >Resend</UButton
      >
    </div>
  </UCard>
</template>

<style lang="postcss" scoped>
.accounts-card {
  @apply w-[40%] mx-auto;
  .header {
    @apply py-4 mb-5 flex flex-col items-center;
  }
}
.title {
  @apply text-4xl font-bold mb-3;
}
.description {
  @apply text-center text-sm;
}
.buttons-container {
  @apply flex justify-center items-center gap-3 mb-3 mt-5 w-4/5 mx-auto;
}
</style>
