<script setup lang="ts">
import { z } from "zod";
import type { FormErrorEvent, FormSubmitEvent } from "#ui/types";

const signUpButton = ref({ $el: { offsetWidth: 0 } });

const signUpWidth = computed(() => {
  return signUpButton.value.$el.offsetWidth;
});

// Form logic
const schema = z
  .object({
    username: z.string().regex(/^[a-zA-Z0-9._]{1,30}$/),
    email: z.string().email().max(150, "Must be 150 characters or less"),
    full_name: z.string().min(1).max(150, "Must be 150 characters or less"),
    phone: z.string().min(1).max(150, "Must be 150 characters or less"),
    password: z
      .string()
      .min(6, { message: "Password must be at least 6 characters long" }),
    confirm_password: z
      .string()
      .min(6, { message: "Password must be at least 6 characters long" }),
  })
  .superRefine(({ confirm_password, password }, ctx) => {
    if (confirm_password !== password) {
      ctx.addIssue({
        message: "Confirmation password does not match",
        code: z.ZodIssueCode.custom,
        path: ["confirm_password"],
      });
    }
  });

const state = reactive({
  username: "",
  email: "",
  phone: "",
  full_name: "",
  password: "",
  confirm_password: "",
});

async function onSubmit(event: FormSubmitEvent<any>) {
  const registrationInfo: IRegistrationRequest = {
    user: {
      username: event.data.username,
      email: event.data.email,
      phone: event.data.phone,
      full_name: event.data.full_name,
    },
    password: event.data.password,
    confirm_password: event.data.confirm_password,
  };
  const { isCreated } = await AccountsService.registrateUser(registrationInfo);
  if (isCreated) await navigateTo("activation");
}

function onError(event: FormErrorEvent) {
  console.log(event.errors);
}
</script>

<template>
  <UCard class="accounts-card">
    <div class="header">
      <h1 class="title">Nuxtagram</h1>
      <h3 class="text-sm text-center">
        Sign up to see photos and videos from your friends.
      </h3>
    </div>
    <UForm
      :schema="schema"
      :state="state"
      class="py-4 space-y-4"
      @submit="onSubmit"
      @error="onError"
    >
      <UFormGroup name="username">
        <UInput
          v-model="state.username"
          placeholder="Username"
          eager-validation
        />
      </UFormGroup>
      <UFormGroup name="email">
        <UInput v-model="state.email" placeholder="Email" eager-validation />
      </UFormGroup>
      <UFormGroup name="full_name">
        <UInput v-model="state.full_name" placeholder="Full Name" />
      </UFormGroup>
      <UFormGroup name="phone">
        <UInput v-model="state.phone" placeholder="Phone number" />
      </UFormGroup>
      <UFormGroup name="password">
        <UInput
          v-model="state.password"
          autocomplete="on"
          type="password"
          placeholder="Password"
        />
      </UFormGroup>
      <UFormGroup name="confirm_password" eager-validation>
        <UInput
          v-model="state.confirm_password"
          autocomplete="on"
          type="password"
          placeholder="Confirm password"
        />
      </UFormGroup>
      <div class="sign-up-info text-xs text-center space-y-4">
        <p>
          People who use our service may have uploaded your contact information
          to Instagram.
          <ULink class="text-primary-600" to="/accounts/reset-password"
            >Learn More</ULink
          >
        </p>
        <p>
          By signing up, you agree to our
          <ULink class="text-primary-600">Terms</ULink>,
          <ULink class="text-primary-600">Privacy Policy</ULink> and
          <ULink class="text-primary-600">Cookies Policy.</ULink>
        </p>
      </div>
      <UButton ref="signUpButton" block type="submit"> Sign up </UButton>
    </UForm>
    <UDivider label="OR" class="mt-2 mb-5" />
    <AccountsSocial :button-width="signUpWidth" type="signUp" />
    <template #footer>
      <div class="text-center text-sm">
        <span>
          Have an account?
          <ULink class="text-primary" to="/accounts/login">Log in</ULink>
        </span>
      </div>
    </template>
  </UCard>
</template>

<style lang="postcss" scoped>
.accounts-card {
  @apply w-[30%] mx-auto;
  .header {
    @apply py-4 flex flex-col items-center;
  }
}
.title {
  @apply text-4xl font-bold mb-3;
}
</style>
