<script setup lang="ts">
import { z } from "zod";
import type { FormErrorEvent, FormSubmitEvent } from "#ui/types";

const loginButton = ref({ $el: { offsetWidth: 0 } });

const loginWidth = computed(() => {
  return loginButton.value.$el.offsetWidth;
});

// UForm schema and state
const schema = z.object({
  auth_field: z.string().min(1).max(150, "Must be 150 characters or less"),
  password: z
    .string()
    .min(6, { message: "Password must be at least 6 characters long" }),
});

const state = reactive({
  auth_field: undefined,
  password: undefined,
});

type Schema = z.output<typeof schema>;

// Form events
async function onSubmit(event: FormSubmitEvent<Schema>) {
  const credentials: ILoginRequest = { credentials: event.data };
  const { isAuthenticated } = await AccountsService.loginProfile(credentials);
  if (isAuthenticated) await navigateTo("/profile");
}

function onError(event: FormErrorEvent) {
  console.log(event.errors);
}
</script>

<template>
  <UCard class="accounts-card">
    <div class="header">
      <h1 class="title">Nuxtagram</h1>
    </div>
    <UForm
      :schema="schema"
      :state="state"
      class="py-8 space-y-4"
      @submit="onSubmit"
      @error="onError"
    >
      <UFormGroup name="auth_field">
        <UInput
          v-model="state.auth_field"
          placeholder="Phone number, username or email"
        />
      </UFormGroup>
      <UFormGroup name="password">
        <UInput
          v-model="state.password"
          autocomplete="on"
          type="password"
          placeholder="Password"
        />
      </UFormGroup>
      <UButton ref="loginButton" block type="submit"> Log in </UButton>
    </UForm>
    <UDivider label="OR" class="mt-3 mb-5" />
    <AccountsSocial :button-width="loginWidth" type="login" />
    <template #footer>
      <div class="text-center text-sm">
        <span>
          Don't have an account?
          <ULink class="text-primary" to="/accounts/emailsignup">Sign up</ULink>
        </span>
      </div>
    </template>
  </UCard>
</template>

<style lang="postcss" scoped>
.accounts-card {
  @apply w-[30%] mx-auto;
  .header {
    @apply py-4 flex flex-col items-center;
  }
}
.title {
  @apply text-4xl font-bold mb-3;
}
</style>
