<script setup lang="ts">
import { useMoreMenuToggle } from "./states";
import sidebarLinks from "./content/sidebarLinks";

const profileStore = useProfileStore();
const profile = await profileStore.getProfile();

const route = useRoute();
const moreMenuState = useMoreMenuToggle();
const profileImageSource = ref();

onMounted(() => {
  profileImageSource.value = profile?.profile_img;
});

function doAction(linkAction?: string) {
  switch (linkAction) {
    case "toggleMoreMenu":
      moreMenuState.value = !moreMenuState.value;
      break;
    case "openCreateModal":
      openCreateModal();
      break;
    case "openNotificationsSlideover":
      console.log("openNotificationsSlideover");
      break;
    default:
      break;
  }
}
</script>

<template>
  <aside id="logo-sidebar" class="sidebar" aria-label="Sidebar">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <a href="#" class="sidebar-logo">
          <img
            src="/favicon.ico"
            class="h-6 mr-3 sm:h-7"
            alt="Nuxtagram Logo"
          />
          <span class="ng-label">Nuxtagram</span>
        </a>
        <ColorModeButton class="md:pr-0 sm:pr-3" />
      </div>
      <div class="sidebar-nav">
        <nav class="sidebar-links">
          <div
            v-for="link in sidebarLinks"
            :key="link.name"
            class="sidebar-link-wrapper"
          >
            <NuxtLink
              :to="link.to"
              class="sidebar-link"
              :class="[
                link.name,
                { 'sidebar-link-active': link.name === route.name },
              ]"
              @click="doAction(link.action)"
            >
              <UIcon
                v-if="link.icon"
                :name="
                  link.name === route.name ? link.icon.solid : link.icon.outline
                "
                class="link-icon"
              />
              <UAvatar
                v-if="link.avatar && profileImageSource"
                :src="profileImageSource"
                alt="sidebar avatar"
                class="link-icon"
              />
              <USkeleton
                v-if="link.avatar && profileImageSource === undefined"
                :ui="{
                  rounded: 'rounded-full',
                  background: 'bg-gray-300 dark:bg-gray-500',
                }"
                class="link-icon"
              />
              <span class="link-label">{{ link.label }}</span>
              <SidebarMoreMenu
                v-if="link.name === 'more'"
                class="sidebar-more-menu"
              />
            </NuxtLink>
          </div>
        </nav>
      </div>
    </div>
  </aside>
</template>

<style lang="postcss" scoped>
.sidebar {
  @apply lg:w-64
    md:w-48
    sm:w-16 sm:top-0 sm:h-full
    w-full fixed bottom-0 left-0 h-20 z-40;
}
.sidebar-content {
  @apply sm:px-3 sm:py-4 px-6 h-full sm:block flex overflow-y-visible bg-gray-50 dark:bg-gray-800;
}
.sidebar-header {
  @apply md:flex-row sm:justify-between
    sm:flex-col
    flex items-center gap-3 py-2;
}
.sidebar-logo {
  @apply flex items-center md:pl-2.5;
  .ng-label {
    @apply md:block
        hidden self-center lg:text-lg text-base font-semibold whitespace-nowrap dark:text-white;
  }
}
.sidebar-nav {
  @apply sm:pt-10 py-2 md:px-2 md:h-full sm:h-5/6 h-full w-full box-border flex sm:flex-col items-center;
  .sidebar-links {
    @apply relative flex sm:flex-col sm:items-start items-center sm:h-full sm:justify-start w-full justify-around;
    .sidebar-link-wrapper {
      @apply relative sm:mb-10 cursor-pointer
            last:shrink last:grow last:items-end sm:last:cursor-pointer sm:last:flex last:hidden;
      .sidebar-link {
        @apply flex items-center sm:justify-start justify-end w-full text-base
                text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:before:bg-gray-50 dark:hover:before:bg-gray-800/50;
        .link-icon {
          @apply flex-shrink-0 md:w-9 md:h-9 sm:w-7 sm:h-7 w-5 h-5 md:mr-5;
        }
        .link-label {
          @apply md:block hidden;
        }
        .sidebar-more-menu {
          @apply z-50 absolute md:bottom-10 sm:bottom-0 md:left-0 sm:left-7 left-0;
        }
      }
      .sidebar-link-active {
        @apply text-gray-900 dark:text-white before:bg-gray-50 dark:before:bg-gray-800/50;
      }
    }
  }
}
</style>
~/modules/posts/components/create-modal/composables/dialog
