<script setup lang="ts">
import ClickOutsideExpceptions from "./constants/clickOutsideExceptions";
import moreMenuLinks from "./content/moreMenuLinks";
import { useMoreMenuToggle } from "./states";

const moreMenuState = useMoreMenuToggle();

function closeMoreMenu(event: PointerEvent) {
  const exceptions = Object.values(ClickOutsideExpceptions);
  for (const e of exceptions) {
    if (!(event.target as HTMLElement).closest(e)) {
      moreMenuState.value = false;
    }
  }
}
</script>

<template>
  <div
    v-show="moreMenuState"
    id="dropdownTop"
    v-click-outside="closeMoreMenu"
    class="more-menu-dropdown"
  >
    <ul class="more-menu-links" aria-labelledby="dropdownTopButton">
      <li v-for="link in moreMenuLinks" :key="link.name" class="more-menu-item">
        <NuxtLink :to="link.to" class="more-menu-link">
          <UIcon :name="link.icon" class="link-icon" />
          <span class="link-label">{{ link.label }}</span>
        </NuxtLink>
      </li>
    </ul>
    <div class="logout-link">
      <a href="/logout" class="link-label">Sign out</a>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.more-menu-dropdown {
  @apply w-64 overflow-hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700;
  .more-menu-links {
    @apply py-2 text-sm text-gray-700 dark:text-gray-200;
    .more-menu-item {
      @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
      .more-menu-link {
        @apply flex px-4 py-2 items-center;
        .link-icon {
          @apply mr-3 flex-shrink-0 w-6 h-6;
        }
        .link-label {
          @apply text-base;
        }
      }
    }
  }
  .logout-link {
    @apply px-8 py-5 flex items-center hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
  }
}
</style>
