<template>
  <div class="w-full h-full">
    <NuxtPage />
    <UNotifications class="left-1/2 -translate-x-2/4 sm:w-1/3" />
  </div>
</template>

<style lang="postcss">
html,
body {
  @apply h-full;
}
</style>
