<script setup lang="ts">
import { z } from "zod";
import type { FormSubmitEvent } from "#ui/types";

const profileStore = useProfileStore();
const profile = await profileStore.getProfile();
const schema = z.object({
  website_link: z.string().min(1).max(150, "Must be 150 characters or less"),
  bio: z.string().min(1).max(150, "Must be 150 characters or less"),
  gender: z.any().refine((option) => option !== undefined, {
    message: "Select gender",
  }),
  show_suggestions: z.boolean(),
});
const genders = [
  {
    id: "M",
    label: "Male",
  },
  {
    id: "F",
    label: "Female",
  },
  {
    id: "O",
    label: "Others",
  },
];

// reactive states
const profileImageSource = ref();
type IState = {
  website_link?: string;
  bio?: string;
  gender?: any;
  show_suggestions?: boolean;
};
const state = reactive<IState>({
  website_link: undefined,
  bio: undefined,
  gender: undefined,
  show_suggestions: undefined,
});

onMounted(() => {
  setProfile();
});

function setProfile() {
  profileImageSource.value = profile?.profile_img;
  state.website_link = profile?.website_link;
  state.bio = profile?.bio;
  switch (profile?.gender) {
    case IGenderOptions.MALE:
      state.gender = genders[0];
      break;
    case IGenderOptions.FEMALE:
      state.gender = genders[1];
      break;
    case IGenderOptions.OTHERS:
      state.gender = genders[2];
      break;
    default:
      break;
  }
  state.show_suggestions = profile?.show_suggestions;
}

type Schema = z.output<typeof schema>;

async function onSubmit(event: FormSubmitEvent<Schema>) {
  const profileData = {
    ...event.data,
    gender: event.data.gender.id,
  };
  const profileInfo = await ProfileService.updateProfileData(profileData);
  if (profileInfo) profileStore.setProfile(profileInfo);
}

// Profile image logic
defineEmits<{
  (e: "onUpload", imageFile: File): void;
  (e: "onRemove"): void;
}>();
const isProfileImageModalOpen = ref(false);

async function changeProfileImage(imageFile: File) {
  profileImageSource.value = await ProfileService.changeProfileImage(imageFile);
}

async function removeCurrentPhoto() {
  profileImageSource.value = await ProfileService.removeCurrentPhoto();
}
</script>

<template>
  <UForm
    :schema="schema"
    :state="state"
    class="edit-container"
    @submit="onSubmit"
  >
    <div class="edit-header">
      <h2 class="edit-title">Edit profile</h2>
    </div>
    <div class="edit-profile-img">
      <UCard>
        <div class="edit-pi-container">
          <div class="flex grow">
            <span class="h-[56px] w-[56px]">
              <div class="image-container">
                <button
                  class="image-btn"
                  @click="isProfileImageModalOpen = true"
                >
                  <img
                    v-if="profileImageSource"
                    alt="change profile photo"
                    class="image-frame"
                    :src="profileImageSource"
                  />
                  <USkeleton v-else class="image-frame" />
                </button>
              </div>
            </span>
            <div class="edit-image-info">
              <span
                v-if="profile?.user.username"
                class="break-words font-bold max-w-full min-w-0"
                >{{ profile?.user.username }}</span
              >
              <USkeleton v-else class="w-[200px] h-[20px] mb-3" />
              <span
                v-if="profile?.user.full_name"
                class="break-words text-sm"
                >{{ profile?.user.full_name }}</span
              >
              <USkeleton v-else class="w-[200px] h-[20px]" />
            </div>
          </div>
          <UButton @click="isProfileImageModalOpen = true"
            >Change photo</UButton
          >
        </div>
      </UCard>
      <ProfileImageModal
        v-model="isProfileImageModalOpen"
        @on-upload="(e) => changeProfileImage(e)"
        @on-remove="removeCurrentPhoto"
      />
    </div>
    <div class="edit-website">
      <div class="edit-website-title">
        <span class="text"> Website </span>
      </div>
      <UFormGroup name="website_link">
        <UInput
          v-model="state.website_link"
          size="xl"
          placeholder="Enter website"
        />
      </UFormGroup>
    </div>
    <div>
      <div class="bio">
        <div class="bio-container">
          <label for="bio">
            <div class="bio-title">
              <span class="bio-title-text">Bio</span>
            </div>
          </label>
          <UFormGroup name="bio">
            <UTextarea
              id="bio"
              v-model="state.bio"
              placeholder="Write your bio"
            />
          </UFormGroup>
          <div class="bio-words-counter">
            <span
              class="bio-words-counter-text"
              :class="{
                'text-red-400':
                  typeof state.bio === 'string' && state.bio?.length > 150,
                'text-gray-400':
                  typeof state.bio === 'string' && state.bio?.length <= 150,
              }"
            >
              {{ state.bio?.length }}/150
            </span>
          </div>
        </div>
      </div>
      <div class="gender">
        <div class="gender-title">
          <span class="gender-title-text">Gender</span>
        </div>
        <UFormGroup name="gender">
          <USelectMenu v-model="state.gender" :options="genders" />
        </UFormGroup>
        <div class="gender-add-info">
          <span class="gender-add-info-text">
            This won’t be part of your public profile.
          </span>
        </div>
      </div>
      <div class="suggestions">
        <div class="suggestions-title">
          <span class="suggestions-title-text">
            Show account suggestions on profiles
          </span>
        </div>
        <UCard :ui="{ body: { padding: 'px-1 py-2 sm:p-3' } }">
          <div class="suggestions-container">
            <div class="suggestions-info">
              <span class="font-normal text-lg"
                >Show account suggestions on profile</span
              >
              <span class="text-gray-400 text-sm">
                Choose whether people can see similar account suggestions on
                your profile, and whether your account can be suggested on other
                profiles.
              </span>
            </div>
            <UFormGroup name="show_suggestions">
              <UToggle v-model="state.show_suggestions" class="ml-4" />
            </UFormGroup>
          </div>
        </UCard>
      </div>
      <div class="submit">
        <div class="submit-btn-container">
          <UButton type="submit" block size="lg">Submit</UButton>
        </div>
      </div>
    </div>
  </UForm>
</template>

<style lang="postcss" scoped>
.edit-container {
  @apply px-12 flex flex-col;
}
.edit-header {
  @apply py-3 mb-4;
  .edit-title {
    @apply min-w-0 max-w-full break-words font-bold text-xl;
  }
}
.edit-profile-img {
  @apply my-4 box-border flex flex-col;
  .edit-pi-container {
    @apply flex flex-row items-center;
    .edit-image-info {
      @apply px-4 flex flex-col;
    }
  }
}
.image-container {
  @apply rounded-full box-border h-full w-full relative overflow-hidden mx-auto my-0;
  .image-btn {
    @apply h-full w-full p-0 cursor-pointer;
    .image-frame {
      @apply border-0 h-full w-full left-0 m-0 p-0 absolute top-0 align-baseline;
    }
  }
}
.edit-website {
  @apply mb-4 flex flex-col;
  .edit-website-title {
    @apply py-4 flex flex-col;
    .text {
      @apply text-xl font-bold w-full;
    }
  }
}
.bio {
  @apply mb-4 flex flex-col static box-border;
  .bio-container {
    @apply relative flex flex-col;
  }
}
.bio-title {
  @apply py-4 flex flex-col box-border;
  .bio-title-text {
    @apply min-w-0 max-w-full break-words font-bold text-xl;
  }
}
.bio-words-counter {
  @apply absolute flex bottom-3 right-4;
  .bio-words-counter-text {
    @apply text-xs;
  }
}
.gender {
  @apply mb-4 static box-border flex flex-col;
}
.gender-title {
  @apply py-4 static box-border flex flex-col;
  .gender-title-text {
    @apply min-w-0 max-w-full text-xl font-bold;
  }
}
.gender-add-info {
  @apply mt-3;
  .gender-add-info-text {
    @apply text-sm text-gray-400;
  }
}
.suggestions {
  @apply mb-4 flex flex-col static;
}
.suggestions-title {
  @apply py-4 static;
  .suggestions-title-text {
    @apply font-bold text-xl;
  }
}
.suggestions-container {
  @apply flex flex-row items-center;
  .suggestions-info {
    @apply flex flex-col shrink;
  }
}
.submit {
  @apply flex flex-col items-end;
  .submit-btn-container {
    @apply mt-4 h-11 w-[250px] min-w-0;
  }
}
</style>
