<script setup lang="ts">
import { ICreateModalStep } from "../../types";

interface Props {
  step: ICreateModalStep;
  title: string;
}

defineProps<Props>();
const emit = defineEmits<{
  (e: "onPreviousStep"): void;
  (e: "onNextStep"): void;
  (e: "onSharePost"): void;
}>();
</script>

<template>
  <UCard
    :ui="{
      ring: '',
      divide: 'divide-y divide-gray-100 dark:divide-gray-800',
      body: {
        padding:
          step === ICreateModalStep.SHARE ? 'p-0 sm:p-0' : 'px-4 py-5 sm:p-6',
      },
    }"
  >
    <template v-if="step === ICreateModalStep.SELECT" #header>
      <div class="title">
        <h1 class="text-lg">{{ title }}</h1>
      </div>
    </template>
    <template v-else #header>
      <div class="header">
        <UButton
          icon="i-heroicons-arrow-left"
          color="primary"
          size="lg"
          variant="ghost"
          @click="emit('onPreviousStep')"
        />
        <div class="title grow shrink">
          <h1 class="text-lg">{{ title }}</h1>
        </div>
        <UButton
          color="primary"
          size="lg"
          variant="ghost"
          @click="
            step === ICreateModalStep.SHARE
              ? emit('onSharePost')
              : emit('onNextStep')
          "
          >{{ step === ICreateModalStep.SHARE ? "Share" : "Next" }}</UButton
        >
      </div>
    </template>
    <div class="body">
      <slot />
    </div>
  </UCard>
</template>

<style lang="postcss" scoped>
.title {
  @apply w-full h-full flex flex-col items-center justify-center;
}
.header {
  @apply w-full h-full flex items-center justify-center;
}
.body {
  @apply flex w-[560px] shrink grow basis-auto max-w-[min(calc(100vw-32px-340px-),calc(898px-43px))] min-h-[calc(391px-43px)]
    h-[calc(100vmin-112px-43px-64px)] min-w-[calc(391px-43px)] max-h-[min(calc(100vh-32px-340px),calc(898px-43px))];
}
</style>
