<script setup lang="ts">
// import VuePictureCropper from "vue-picture-cropper";

interface Props {
  picture: string;
}

defineProps<Props>();
const emit = defineEmits<{
  (e: "onPictureCropped"): void;
  (e: "onPreviousStep"): void;
}>();

// function ready() {}
</script>

<template>
  <PostsCreateCard
    title="Crop"
    :step="ICreateModalStep.CROP"
    @on-next-step="emit('onPictureCropped')"
    @on-previous-step="emit('onPreviousStep')"
  >
    <!-- <VuePictureCropper
        :box-style="{
          width: '100%',
          height: '100%',
          backgroundColor: '#f8f8f8',
          margin: 'auto',
        }"
        :img="picture"
        :options="{
          viewMode: 1,
          dragMode: 'crop',
          aspectRatio: 16 / 9,
        }"
        @ready="ready"
      /> -->
    <USkeleton class="h-full w-full" />
  </PostsCreateCard>
</template>

<style lang="postcss" scoped></style>
