<script setup lang="ts">
const isOpen = defineModel<boolean>();

const emit = defineEmits<{
  (e: "onDiscardPost"): void;
}>();
</script>

<template>
  <UModal v-model="isOpen">
    <div class="modal-header">
      <h3 class="pt-5 px-3 text-center text-xl mb-1">Discard post?</h3>
      <p class="text-gray-400 text-sm">
        If you leave, your edits won't be saved.
      </p>
    </div>
    <UButtonGroup class="w-full" size="xl" orientation="vertical">
      <UButton color="gray" variant="ghost" block @click="emit('onDiscardPost')"
        ><span class="text-primary-500">Discard</span></UButton
      >
      <UButton color="gray" variant="ghost" block @click="isOpen = false"
        ><span class="text-red-500">Cancel</span></UButton
      >
    </UButtonGroup>
  </UModal>
</template>

<style lang="postcss" scoped>
.modal-header {
  @apply flex flex-col w-full h-full items-center justify-center mb-7;
}
</style>
