<script setup lang="ts">
const emit = defineEmits<{
  (e: "onPictureEdited"): void;
  (e: "onPreviousStep"): void;
}>();
</script>

<template>
  <PostsCreateCard
    title="Edit"
    :step="ICreateModalStep.EDIT"
    @on-next-step="emit('onPictureEdited')"
    @on-previous-step="emit('onPreviousStep')"
  >
    <USkeleton class="h-full w-full" />
  </PostsCreateCard>
</template>

<style lang="postcss" scoped></style>
