<script setup lang="ts">
import { ICreateModalStep } from "../../types";
import { isCreateModalOpen } from "../../composables/useDialog";
import type { IAdditionalPostFields } from "./share.vue";

const currentStep = ref<ICreateModalStep>(ICreateModalStep.SELECT);
const isDiscardModalOpen = ref<boolean>(false);
const picture = ref<File>();
const cropPicture = ref<string>("");

function goToSelect() {
  isDiscardModalOpen.value = false;
  resetCreateModal();
}

function resetCreateModal() {
  picture.value = undefined;
  currentStep.value = ICreateModalStep.SELECT;
}

function goToCropPicture(file: File) {
  picture.value = file;
  currentStep.value = ICreateModalStep.CROP;
  // reader logic
  const reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = () => {
    cropPicture.value = String(reader.result);
  };
}

function goToEdit() {
  currentStep.value = ICreateModalStep.EDIT;
}

function goToShare() {
  currentStep.value = ICreateModalStep.SHARE;
}

async function sharePost(additionalPostFields: IAdditionalPostFields) {
  if (picture.value) {
    const newPost = await PostsService.createNewPost({
      picture: picture.value,
      ...additionalPostFields,
    });
    if (newPost) {
      resetCreateModal();
      closeCreateModal();
    }
  }
}
</script>

<template>
  <UModal
    v-model="isCreateModalOpen"
    :ui="{ width: 'sm:max-w-fit', wrapper: 'z-50' }"
    prevent-close
    :transition="false"
  >
    <PostsCreateSelect
      v-if="currentStep === ICreateModalStep.SELECT"
      @on-file-dropped="goToCropPicture"
    />
    <PostsCreateCrop
      v-else-if="currentStep === ICreateModalStep.CROP"
      :picture="cropPicture"
      @on-picture-cropped="goToEdit"
      @on-previous-step="isDiscardModalOpen = true"
    />
    <PostsCreateEdit
      v-else-if="currentStep === ICreateModalStep.EDIT"
      @on-picture-edited="goToShare"
      @on-previous-step="currentStep = ICreateModalStep.CROP"
    />
    <PostsCreateShare
      v-else-if="currentStep === ICreateModalStep.SHARE"
      @on-share-post="sharePost"
      @on-previous-step="currentStep = ICreateModalStep.EDIT"
    />
    <Teleport to="body">
      <UButton
        color="gray"
        variant="ghost"
        icon="i-heroicons-x-mark-20-solid"
        class="z-50 right-0 top-0 mt-3 mr-3 absolute cursor-point"
        size="xl"
        @click="
          () => {
            resetCreateModal();
            closeCreateModal();
          }
        "
      />
    </Teleport>
  </UModal>
  <PostsCreateDiscardModal
    v-model="isDiscardModalOpen"
    @on-discard-post="goToSelect"
  />
</template>
