<script setup lang="ts">
const active = ref(false);
const fileInput = ref();
const emit = defineEmits<{
  (e: "onFileDropped", imageFile: File): void;
}>();

function setActive() {
  active.value = true;
}

function setInactive() {
  active.value = false;
}

function onDrop(event: DragEvent) {
  setInactive();
  if (event.dataTransfer?.files[0])
    emit("onFileDropped", event.dataTransfer?.files[0]);
}

function openDialog() {
  fileInput.value.click();
}

function selectImage(event: Event) {
  const imageFiles = (event.target as HTMLInputElement).files;
  if (imageFiles) {
    emit("onFileDropped", imageFiles[0]);
  }
}
</script>

<template>
  <PostsCreateCard title="Create new post" :step="ICreateModalStep.SELECT">
    <div
      class="h-full w-full p-6"
      @dragenter.prevent="setActive"
      @dragover.prevent="setActive"
      @dragleave.prevent="setInactive"
      @drop.prevent="onDrop"
    >
      <div class="flex flex-col items-center h-full w-full justify-center">
        <UIcon
          name="i-heroicons-photo"
          class="w-[96px] h-[77px]"
          :class="{ 'text-primary-300': active }"
        />
        <div class="mt-4">
          <span
            class="text-lg break-words"
            :class="{ 'text-primary-300': active }"
          >
            Drag photos and videos here
          </span>
        </div>
        <UButton class="mt-6" @click="openDialog">Select from computer</UButton>
      </div>
    </div>
  </PostsCreateCard>
  <input
    v-show="false"
    ref="fileInput"
    type="file"
    accept="image/png, image/jpeg"
    @change="selectImage"
  />
</template>

<style lang="postcss" scoped>
.select-title {
  @apply w-full h-full flex flex-col items-center justify-center;
}
</style>
