<script setup lang="ts">
import EmojiPicker from "vue3-emoji-picker";
import type { EmojiExt } from "vue3-emoji-picker";
import type { FormSubmitEvent } from "#ui/types";
import { z } from "zod";

export type IAdditionalPostFields = {
  caption?: string;
  location?: string;
  alt_text?: string;
  hide_likes: boolean;
  turn_off_comments: boolean;
};

const profileStore = useProfileStore();
const profile = await profileStore.getProfile();

const colorMode = useColorMode();
const isEmojiPickerShown = ref(false);
const caption_text = ref();

const emit = defineEmits<{
  (e: "onSharePost", additionalPostFields: IAdditionalPostFields): void;
  (e: "onPreviousStep"): void;
}>();

// Data validation logic
const schema = z.object({
  caption: z.string().max(2200, "Must be 2200 characters or less").optional(),
  location: z.string().max(150, "Must be 150 characters or less").optional(),
  alt_text: z.string().max(150, "Must be 150 characters or less").optional(),
  hide_likes: z.boolean().default(false),
  turn_off_comments: z.boolean().default(false),
});

type Schema = z.output<typeof schema>;

// Data logic
const form = ref();
const state = reactive<IAdditionalPostFields>({
  caption: "",
  location: "",
  alt_text: "",
  hide_likes: false,
  turn_off_comments: false,
});

function addEmojiToCaption(emoji: EmojiExt) {
  state.caption += emoji.i;
  isEmojiPickerShown.value = false;
  caption_text.value.textarea.focus();
}

function onSubmit(event: FormSubmitEvent<Schema>) {
  emit("onSharePost", event.data);
}
</script>

<template>
  <PostsCreateCard
    title="Create new post"
    :step="ICreateModalStep.SHARE"
    @on-share-post="form.submit()"
    @on-previous-step="emit('onPreviousStep')"
  >
    <div class="picture"></div>
    <UForm
      ref="form"
      :schema="schema"
      :state="state"
      class="additional"
      @submit="onSubmit"
    >
      <div class="additional-container">
        <div class="max-w-full min-h-[99%] overflow-y-scroll">
          <div class="additional-form">
            <div class="form-header">
              <div class="header-container">
                <div class="flex flex-nowrap items-center min-w-0 relative">
                  <div class="mr-3 flex flex-col">
                    <span
                      class="h-7 w-7 rounded-full overflow-x-hidden overflow-y-hidden"
                    >
                      <img
                        class="w-full h-full object-cover"
                        alt="profile image in share"
                        draggable="false"
                        :src="profile?.profile_img"
                      />
                    </span>
                  </div>
                  <span
                    class="overflow-y-visible overflow-x-visible break-words text-sm font-bold"
                  >
                    phonty29
                  </span>
                </div>
              </div>
            </div>
            <div class="caption">
              <UTextarea
                ref="caption_text"
                v-model="state.caption"
                :rows="7"
                autoresize
                color="white"
                variant="none"
                placeholder="Write caption..."
                size="xl"
              />
              <div class="caption-helper">
                <div class="emoji-picker">
                  <UPopover v-model:open="isEmojiPickerShown">
                    <UButton
                      icon="i-heroicons-face-smile"
                      size="xl"
                      variant="ghost"
                    />
                    <template #panel>
                      <EmojiPicker
                        :display-recent="true"
                        :native="true"
                        :theme="colorMode.value === 'light' ? 'light' : 'dark'"
                        @select="addEmojiToCaption"
                      />
                    </template>
                  </UPopover>
                </div>
                <div class="word-counter">
                  <span class="text-xs text-gray-300">0/2,200</span>
                </div>
              </div>
            </div>
            <div class="location">
              <div class="location-container">
                <UInputMenu
                  v-model="state.location"
                  variant="none"
                  class="grow"
                  placeholder="Add location"
                  :options="[]"
                  trailing-icon="i-heroicons-map-pin"
                />
              </div>
            </div>
            <div class="accessibility">
              <UAccordion
                :items="[
                  {
                    label: 'Accessibility',
                    slot: 'accessibility',
                  },
                ]"
                :color="colorMode.value === 'light' ? 'white' : 'black'"
                size="lg"
              >
                <template #accessibility>
                  <div class="px-3">
                    <span
                      class="text-xs text-gray-400 dark:text-gray-300 break-words text-left"
                    >
                      Alt text describes your photos for people with visual
                      impairments. Alt text will be automatically created for
                      your photos or you can choose to write your own.
                    </span>
                    <div class="flex my-3 items-center justify-between">
                      <div class="h-11 w-11"></div>
                      <div class="ml-2 grow">
                        <UInput
                          v-model="state.alt_text"
                          placeholder="Write alt text..."
                          spellcheck="true"
                          type="text"
                          size="xl"
                        />
                      </div>
                    </div>
                  </div>
                </template>
              </UAccordion>
            </div>
            <div class="advanced">
              <UAccordion
                :items="[
                  {
                    label: 'Advanced settings',
                    slot: 'advanced',
                  },
                ]"
                :color="colorMode.value === 'light' ? 'white' : 'black'"
                size="lg"
              >
                <template #advanced>
                  <div class="px-3 mb-2">
                    <div class="w-full flex items-center">
                      <span class="grow text-bold text-lg break-words">
                        Hide like and view counts on this post
                      </span>
                      <UToggle v-model="state.hide_likes" class="mr-2" />
                    </div>
                    <p
                      class="break-words text-xs text-gray-400 dark:text-gray-300 py-2"
                    >
                      Only you will see the total number of likes and views on
                      this post. You can change this later by going to the
                      <span class="text-primary">···</span>
                      menu at the top of the post. To hide like counts on other
                      people's posts, go to your account settings.
                      <ULink
                        to="https://google.com"
                        target="blank"
                        class="text-primary"
                        >Learn more</ULink
                      >
                    </p>
                  </div>
                  <div class="px-3 mb-2">
                    <div class="w-full flex items-center">
                      <span class="grow text-bold text-lg break-words">
                        Turn off commenting
                      </span>
                      <UToggle v-model="state.turn_off_comments" class="mr-2" />
                    </div>
                    <p
                      class="break-words text-xs text-gray-400 dark:text-gray-300 py-2"
                    >
                      You can change this later by going to the
                      <span class="text-primary">···</span> menu at the top of
                      your post.
                    </p>
                  </div>
                </template>
              </UAccordion>
            </div>
          </div>
          <div class="py-3 mx-4"></div>
        </div>
      </div>
    </UForm>
  </PostsCreateCard>
</template>

<style lang="postcss" scoped>
.picture {
  @apply opacity-100 h-full w-[calc(100%-340px)] justify-center flex items-start pointer-events-auto;
}
.additional {
  @apply opacity-100 w-[340px] relative border-l border-l-gray-100 dark:border-l-gray-800 flex border-solid;
  .additional-container {
    @apply overflow-y-visible min-w-0 min-h-0 overflow-x-visible flex flex-col items-stretch justify-start relative grow;
  }
}
.additional-form {
  @apply items-stretch border-0 box-border flex flex-col flex-auto overflow-x-hidden overflow-y-auto p-0 relative align-baseline;
}
.form-header {
  @apply overflow-x-visible overflow-y-visible flex flex-col mx-4;
  .header-container {
    @apply items-stretch border-0 box-border flex flex-col mb-[14px] mt-[18px] p-0 relative align-baseline max-w-full w-full;
  }
}
.caption {
  @apply overflow-x-visible overflow-y-visible flex flex-col box-border items-stretch relative;
}
.caption-helper {
  @apply flex justify-between items-stretch relative;
  .emoji-picker {
    @apply py-1 px-2 min-w-0 min-h-0 grow;
  }
  .word-counter {
    @apply shrink flex flex-col px-3 items-stretch grow-0 justify-center;
  }
}
.location {
  @apply border-t border-solid border-t-gray-100 dark:border-t-gray-800 px-2;
  .location-container {
    @apply flex h-11 pr-2 justify-between items-center;
  }
}
.accessibility {
  @apply items-stretch border-t border-solid border-t-gray-100 dark:border-t-gray-800 pl-1 pr-2 flex flex-col;
}
.advanced {
  @apply items-stretch border-t border-solid border-t-gray-100 dark:border-t-gray-800 pl-1 pr-2 flex flex-col;
}
</style>
