<script setup lang="ts">
const profileStore = useProfileStore();
const profile = await profileStore.getProfile();
const profileImageSource = ref();

onMounted(() => {
  profileImageSource.value = profile?.profile_img;
});

async function changeProfileImage(imageFile: File) {
  profileImageSource.value = await ProfileService.changeProfileImage(imageFile);
}

async function removeCurrentPhoto() {
  profileImageSource.value = await ProfileService.removeCurrentPhoto();
}
</script>

<template>
  <header class="profile-header">
    <ProfileImage
      :image-source="profileImageSource"
      @on-upload="changeProfileImage"
      @on-remove="removeCurrentPhoto"
    />
    <ProfileInfo :profile="profile" />
  </header>
</template>

<style lang="postcss" scoped>
.profile-header {
  @apply mb-11 flex relative items-stretch;
}
</style>
