<script setup lang="ts">
const isOpen = defineModel<boolean>();
const imageFile = ref();
const emit = defineEmits<{
  (e: "onUpload", imageFile: File): void;
  (e: "onRemove"): void;
}>();

function chooseProfileImage() {
  imageFile.value.click();
}

function uploadImageFile(event: Event) {
  const imageFiles = (event.target as HTMLInputElement).files;
  if (imageFiles) {
    emit("onUpload", imageFiles[0]);
    isOpen.value = false;
  }
}

function removeCurrentPhoto() {
  emit("onRemove");
  isOpen.value = false;
}
</script>

<template>
  <UModal v-model="isOpen">
    <div class="modal-header">
      <p class="py-5 text-center text-xl">Change profile photo</p>
    </div>
    <UButtonGroup class="w-full" size="xl" orientation="vertical">
      <UButton color="gray" variant="ghost" block @click="chooseProfileImage"
        ><span class="text-primary-500">Upload photo</span></UButton
      >
      <UButton color="gray" variant="ghost" block @click="removeCurrentPhoto"
        ><span class="text-red-500">Remove current photo</span></UButton
      >
    </UButtonGroup>
  </UModal>
  <input
    v-show="false"
    ref="imageFile"
    type="file"
    accept="image/png, image/jpeg"
    @change="uploadImageFile"
  />
</template>
