<script setup lang="ts">
interface Props {
  imageSource?: string;
}

defineProps<Props>();
const emit = defineEmits<{
  (e: "onUpload", imageFile: File): void;
  (e: "onRemove"): void;
}>();

const isProfileImageModalOpen = ref(false);
</script>

<template>
  <div class="profile-img">
    <div class="profile-img-container">
      <div class="btn-container">
        <button class="profile-img-btn" @click="isProfileImageModalOpen = true">
          <img
            v-if="imageSource"
            :src="imageSource"
            class="profile-img-content"
            alt="Change profile photo"
          />
          <USkeleton v-else class="profile-img-content" />
        </button>
      </div>
    </div>
  </div>
  <ProfileImageModal
    v-model="isProfileImageModalOpen"
    @on-upload="(e) => emit('onUpload', e)"
    @on-remove="emit('onRemove')"
  />
</template>

<style lang="postcss" scoped>
.profile-img {
  @apply mr-8 grow basis-0 flex flex-col justify-center relative shrink-0;
}
.profile-img-container {
  @apply min-[736px]:w-[150px] min-[736px]:h-[calc(148px+2px)]
    max-[735px]:w-[77px] max-[735px]:h-[calc(.5*150px+2px)]
    mx-auto block;
}
.btn-container {
  @apply rounded-[50%] box-border h-full w-full mx-auto my-0 overflow-hidden relative;
}
.profile-img-btn {
  @apply cursor-pointer h-full w-full p-0 border-0;
}
.profile-img-content {
  @apply border-0 text-[100%] h-full w-full m-0 p-0 absolute top-0 left-0 align-baseline;
}
</style>
