<script setup lang="ts">
interface Props {
  profile?: IProfileResponse;
}

defineProps<Props>();
</script>

<template>
  <section class="profile-info">
    <div class="profile-info-header">
      <a class="username-btn">
        <h2 v-if="profile?.user.username" class="username-text">
          {{ profile?.user.username }}
        </h2>
        <USkeleton v-else class="text-skeleton" />
      </a>
      <div class="header-buttons">
        <UButton to="/settings/edit">Edit profile</UButton>
        <UButton>View archive</UButton>
      </div>
      <div class="header-settings-btn">
        <UIcon
          name="i-heroicons-cog-8-tooth-solid"
          class="header-settings-icon"
        />
      </div>
    </div>
    <ul class="profile-info-stats">
      <li class="profile-info-stat">
        <span>
          <span class="stat-number">54</span>
          posts
        </span>
      </li>
      <li class="profile-info-stat">
        <span>
          <span class="stat-number">5694</span>
          followers
        </span>
      </li>
      <li class="profile-info-stat">
        <span>
          <span class="stat-number">156</span>
          subscribers
        </span>
      </li>
    </ul>

    <div class="profile-info-footer">
      <div class="footer-name">
        <span v-if="profile?.user.full_name" class="full-name">
          {{ profile?.user.full_name }}</span
        >
        <USkeleton v-else class="text-skeleton" />
      </div>
      <h1 v-if="profile?.bio" class="bio">{{ profile?.bio }}</h1>
      <USkeleton v-else-if="profile?.bio === undefined" class="text-skeleton" />
      <div v-show="profile?.website_link" class="website-link">
        <UIcon name="i-heroicons-link" />
        <ULink
          :to="profile?.website_link"
          class="text-primary"
          target="_blank"
          >{{ profile?.website_link }}</ULink
        >
      </div>
    </div>
  </section>
</template>

<style lang="postcss" scoped>
.text-skeleton {
  @apply h-[30px] w-[200px];
}
.profile-info {
  @apply flex flex-col align-baseline text-[100%] items-stretch basis-[30px] grow-[2] shrink relative min-w-0;
}
.profile-info-header {
  @apply min-w-0 mb-5 shrink flex items-center flex-row relative;
  .username-btn {
    @apply max-w-[350px] no-underline pt-0 min-w-0 my-0 pb-0 inline shrink px-0 box-border cursor-pointer relative mx-0 touch-manipulation flex flex-row items-center border-0 outline-none;
    .username-text {
      @apply font-normal min-w-[200px] mb-0 max-w-[100%] mt-0 mx-0 overflow-x-visible overflow-y-visible break-words relative block whitespace-pre-line text-xl;
    }
  }
  .header-buttons {
    @apply overflow-x-visible overflow-y-visible shrink content-stretch ml-5 box-border flex items-stretch flex-row justify-start relative grow-0 self-auto gap-2;
  }
  .header-settings-btn {
    @apply ml-2 p-2;
    .header-settings-icon {
      @apply w-6 h-6 flex justify-center items-center cursor-pointer active:text-gray-400;
    }
  }
}
.profile-info-stats {
  @apply mb-5 flex flex-row m-0 p-0 list-none;
  .profile-info-stat {
    @apply ml-0 text-base mr-10;
    .stat-number {
      @apply font-bold;
    }
  }
}
.profile-info-footer {
  @apply flex flex-col items-start align-baseline relative;
  .footer-name {
    @apply mb-2 overflow-x-visible overflow-y-visible content-center box-border items-center shrink-0 static self-auto gap-y-2.5 gap-x-2.5;
    .full-name {
      @apply overflow-x-visible overflow-y-visible min-w-0 mb-0 max-w-full font-bold;
    }
  }
  .bio {
    @apply mb-2;
  }
  .website-link {
    @apply inline-flex items-center gap-1;
  }
}
</style>
