<script setup lang="ts">
interface Props {
  sectionLabel: string;
  links?: {
    label: string;
    icon: string;
    to: string;
  }[];
}

defineProps<Props>();
</script>

<template>
  <div class="settings-sidebar-nav">
    <div class="nav-section">
      <UDivider
        :label="sectionLabel"
        class="mb-3"
        :ui="{ label: 'text-primary-500 dark:text-primary-400' }"
      />
      <UVerticalNavigation
        :ui="{
          base: 'justify-start',
          size: 'text-md',
          padding: 'py-4',
          icon: {
            base: 'w-5 h-5',
          },
        }"
        :links="links"
      />
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.settings-sidebar {
  @apply mt-4 w-[315px];
}
.sidebar-title {
  @apply px-4 mx-8 mb-6;
}
.nav-section {
  @apply mx-8 mb-6;
}
</style>
