<template>
  <div class="h-screen">
    <div class="py-6">
      <div class="h-full">
        <div class="settings-sidebar">
          <div class="sidebar-title">
            <span class="text-xl font-bold">Sidebar</span>
          </div>
        </div>
        <div class="settings-sidebar-nav">
          <SettingsNavSection
            :section-label="'How you use Nuxtagram'"
            :links="howToUseLinks"
          />
          <SettingsNavSection
            :section-label="'What you see'"
            :links="whatYouSeeLinks"
          />
          <SettingsNavSection
            :section-label="'Who can see your content'"
            :links="whoCanSeeYourContentLinks"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.settings-sidebar {
  @apply mt-4 w-[315px];
}
.sidebar-title {
  @apply px-4 mx-8 mb-6;
}
.nav-section {
  @apply mx-8 mb-6;
}
</style>
