@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-width-lg: 256px;
    --sidebar-width-md: 192px;
    --sidebar-width-sm: 64px;

    --feed-width: 630px;
    --index-content-width: calc(var(--feed-width)+ var(--sidebar-width-lg));
  }
}
