<script setup lang="ts">
definePageMeta({
  middleware: [
    function () {
      if (!useActivateProfileStore().getActivationCodeData) {
        return navigateTo("/accounts/emailsignup");
      }
    },
  ],
});

const activationCodeData = computed(() => {
  return (
    useActivateProfileStore().getActivationCodeData || {
      credentials: { auth_field: "", password: "" },
    }
  );
});
</script>

<template>
  <NuxtLayout name="accounts">
    <AccountsCardsActivateProfileWithCode
      :activation-code-data="activationCodeData"
    />
  </NuxtLayout>
</template>
