<script setup lang="ts">
import { availableLanguages } from "@/content/languages";

const locale = ref(availableLanguages[0]);
</script>

<template>
  <section class="accounts-layout">
    <UContainer class="accounts-container">
      <header>
        <div class="header-elements">
          <USelectMenu
            v-model="locale"
            :options="availableLanguages"
            option-attribute="name"
          />
          <ColorModeButton class="md:pr-0 sm:pr-3" />
        </div>
      </header>
      <main>
        <slot />
      </main>
      <CustomMainFooter />
    </UContainer>
  </section>
</template>

<style lang="postcss" scoped>
.accounts-layout {
  @apply min-w-full;
  .accounts-container {
    @apply py-8 flex flex-col min-h-screen;
  }
}
header {
  @apply flex justify-end;
  .header-elements {
    @apply flex space-x-4;
  }
}
main {
  @apply shrink grow py-8 mb-12;
}
footer {
  @apply text-sm;
}
.extra-links-list {
  @apply flex justify-center;
  .link-container {
    @apply mx-3 mb-3;
  }
}
.copyright {
  @apply text-center;
}
</style>
~/content/footer
