<template>
  <div class="default-layout">
    <Sidebar />
    <main class="page-content">
      <UContainer>
        <slot />
      </UContainer>
    </main>
    <PostsCreateModal />
  </div>
</template>

<style lang="postcss" scoped>
.default-layout {
  @apply min-w-full min-h-screen;
}
.page-content {
  @apply lg:ml-[var(--sidebar-width-lg)] md:ml-[var(--sidebar-width-md)] sm:ml-[var(--sidebar-width-sm)];
}
</style>
