<script setup lang="ts"></script>

<template>
  <NuxtLayout>
    <section class="settings-section">
      <main class="settings-main">
        <div class="settings-container">
          <SettingsSidebar />
          <UDivider
            orientation="vertical"
            :ui="{ wrapper: { base: 'w-min' } }"
          />
          <div class="settings-body">
            <div class="settings-content">
              <slot />
            </div>
            <CustomMainFooter class="mb-12 px-4" />
          </div>
        </div>
      </main>
    </section>
  </NuxtLayout>
</template>

<style lang="postcss" scoped>
.settings-section {
  @apply h-screen overflow-x-hidden flex flex-col grow -mx-8;
}
.settings-main {
  @apply flex flex-col grow order-4;
}
.settings-container {
  @apply overflow-x-visible overflow-y-visible box-border flex shrink-0 static justify-start grow-0;
}
.settings-body {
  @apply h-screen overflow-x-auto min-w-0 min-h-0 overflow-y-auto box-border flex flex-col static items-stretch justify-start grow;
}
.settings-content {
  @apply mx-auto max-w-[706px] w-full overflow-y-visible overflow-x-visible static flex flex-col justify-start py-9 grow;
}
</style>
