<script setup lang="ts"></script>

<template>
  <NuxtLayout>
    <section class="profile-section">
      <main class="profile-main">
        <div class="profile-container">
          <ProfileHeader />
        </div>
      </main>
    </section>
  </NuxtLayout>
</template>

<style lang="postcss" scoped>
.profile-section {
  @apply min-h-screen overflow-x-hidden flex-col flex;
}
.profile-main {
  @apply flex flex-col grow;
}
.profile-container {
  @apply pt-8 px-5 max-w-[950px] box-content grow w-[calc(100%-40px)] mx-auto mb-7;
}
</style>
