<script setup lang="ts">
import {
  GoogleSignInButton,
  type CredentialResponse,
} from "vue3-google-signin";
import FacebookLogin from "vue-facebook-login-component-next";
import "vue-facebook-login-component-next/dist/style.css";

defineProps<{
  buttonWidth: number;
  type: "signUp" | "login";
}>();

// Google auth logic
const handleGoogleLogin = async (response: CredentialResponse) => {
  const { credential } = response;
  const credentials: ISocialRequest = { auth_token: credential };
  const { isAuthenticated } = await AccountsService.googleLogin(credentials);
  if (isAuthenticated) await navigateTo("/profile");
};

const handleGoogleLoginError = () => {
  console.error("Login failed");
};

// Facebook auth logic
type IFacebookResponse = {
  authResponse: {
    accessToken: string;
  };
};

const handleFacebookLogin = async (response: IFacebookResponse | undefined) => {
  if (response) {
    const { authResponse } = response;
    const credentials: ISocialRequest = {
      auth_token: authResponse.accessToken,
    };
    const { isAuthenticated } =
      await AccountsService.facebookLogin(credentials);
    if (isAuthenticated) await navigateTo("/profile");
  }
};

const handleFacebookSDKInit = ({
  scope,
}: {
  scope: { logout: () => void };
}) => {
  scope.logout();
};
</script>

<template>
  <div class="space-y-5 flex flex-col justify-center">
    <GoogleSignInButton
      style="color-scheme: auto"
      one-tap
      :width="buttonWidth"
      size="medium"
      :text="type === 'login' ? 'signin_with' : 'signup_with'"
      @success="handleGoogleLogin"
      @error="handleGoogleLoginError"
    />
    <FacebookLogin
      class="!h-[32px] !min-h-0 !text-sm !bg-[#1877F2]"
      app-id="891619298770048"
      version="v18.0"
      :login-options="{ scope: 'public_profile,email' }"
      use-alt-logo
      @login="handleFacebookLogin"
      @sdk-init="handleFacebookSDKInit"
    >
      <template #login>
        {{
          type === "login" ? "Sign in with Facebook" : "Sign up with Facebook"
        }}
      </template>
      <template #logout> Please wait... </template>
    </FacebookLogin>
    <ULink
      class="text-center text-primary-600 text-xs"
      to="/accounts/reset-password"
    >
      Forgot password?
    </ULink>
  </div>
</template>
