<script setup lang="ts">
interface Props {
  digits: number;
}

const props = defineProps<Props>();
const code = Array(props.digits).fill("");
const emit = defineEmits<{
  (e: "onComplete", completeCode: number): void;
}>();

// Handle events
function handleCodeInput(event: Event, index: number) {
  const target = event.target as HTMLInputElement;
  const inputValue = target.value;
  if (inputValue.length !== 1 || isNaN(+inputValue)) {
    target.value = "";
    return;
  }
  code[index] = inputValue;
  if (!code.includes("")) {
    checkCode();
  } else if (index < code.length - 1)
    (target.nextElementSibling as HTMLInputElement).focus();
}

function handleDelete(event: Event, index: number) {
  const target = event.target as HTMLInputElement;
  code[index] = "";
  target.value = "";
  if (index > 0) (target.previousElementSibling as HTMLInputElement).focus();
}

function handlePaste(event: ClipboardEvent, index: number) {
  const pasteText = event.clipboardData?.getData("text") || "";
  const pasteValues = pasteText.slice(0, code.length - index).split("");
  let target = event.target as HTMLInputElement;
  pasteValues.forEach((inputValue) => {
    if (inputValue.length !== 1 || isNaN(+inputValue)) {
      target.value = "";
      return;
    }
    code[index] = target.value = inputValue;
    if (!code.includes("")) {
      checkCode();
      target.blur();
    } else if (index < code.length - 1) {
      index++;
      target = target.nextElementSibling as HTMLInputElement;
      target.focus();
    }
  });
}

// check complete code
function checkCode() {
  const completeCode = code.reduce((pC, v) => pC + v, "");
  emit("onComplete", completeCode);
}

// Focus on first input element on mounted
const firstInput = ref(null);
onMounted(() => {
  if (firstInput.value) (firstInput.value[0] as { focus: () => {} }).focus();
});
</script>

<template>
  <div class="grid place-content-center">
    <div class="code-input-container">
      <input
        v-for="(c, i) in code"
        :ref="i === 0 ? 'firstInput' : undefined"
        :key="i"
        type="text"
        class="code-input"
        aria-label="Please enter your code"
        inputmode="text"
        autocomplete="off"
        placeholder="○"
        :value="c"
        @input="(event) => handleCodeInput(event, i)"
        @keyup.delete="(event) => handleDelete(event, i)"
        @paste="(event) => handlePaste(event, i)"
      />
    </div>
  </div>
</template>

<style scoped>
.code-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.code-input {
  min-width: 0;
  position: relative;
  appearance: none;
  text-align: center;
  width: 3rem;
  outline: transparent solid 2px;
  outline-offset: 2px;
  height: 3.5rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e8f0;
  font-size: 1.5rem;
}
</style>
