<script setup lang="ts">
import { footerLinks } from "@/content/footer";
</script>

<template>
  <footer>
    <ul class="extra-links-list">
      <li v-for="link in footerLinks" :key="link.id" class="link-container">
        <ULink :to="link.to" target="blank">{{ link.label }}</ULink>
      </li>
    </ul>
    <div class="copyright">© 2023 Nuxtagram</div>
  </footer>
</template>

<style lang="postcss" scoped>
footer {
  @apply text-xs;
}
.extra-links-list {
  @apply flex justify-center flex-wrap;
  .link-container {
    @apply mx-3 mb-3;
  }
}
.copyright {
  @apply text-center text-primary;
}
</style>
