<script setup lang="ts">
interface Props {
  timeout: number;
}

const props = defineProps<Props>();
const emit = defineEmits(["onTimeout"]);
const timer = ref(props.timeout);

watch(
  timer,
  (currentTime) => {
    if (currentTime > 0) {
      setTimeout(() => timer.value--, 1000);
    } else {
      emit("onTimeout");
    }
  },
  { immediate: true },
);
</script>

<template>
  <p v-show="timer > 0" class="text-timer">
    You can resend code after: {{ timer }}
  </p>
</template>

<style lang="postcss" scoped>
.text-timer {
  @apply text-center text-primary-400;
}
</style>
